.container{
    padding-top: 50px;
}
.stnav{

}
.product{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
}
.text-bg{

}
.Buy-now-button{
    background-color: black;
    border: none;
    border-radius: 8px;
    color: whitesmoke;
    padding: 8px 25px;
    cursor: pointer;
    cursor: auto;

}
#categories p{
    color: gray;
}
.card{
    border: none;
    box-shadow: 5px 5px 8px rgb(142, 122, 122);
}
.card-footer{
    border: none;
    background-color: white;
    border-top: none;
    border-radius: 10px;

}
#smartphone h6{
    color: orange;
}
#laptop h6{
    color: orange;
}
.container-categories {
    margin-bottom: 80px;
    margin-top: 30px;
}
.category-item {
    padding:  20px 20px;
}

} .title-pad {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.categories-border {
    border-bottom: 5px solid  #FFBB24;
    border-radius: 5px;
    margin-bottom: 5px;
    border-start-end-radius: 10px;
}
.container category{
    padding-top: 20px;
}